{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
{% bootstrap_css %}
{% bootstrap_javascript%}
<div class="container d-flex justify-content-between">
    <div>
        <img style="width:90%" src="https://dummyimage.com/600x300/000/fff" alt="">
    </div>
    <div>
        <div class="card" style="width:90%;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>

<div class="container row row-cols-1">
    {% for review in reviews %}
    <div class="row">
    </div>
    {% endfor %}
</div>
{% endblock content %}