{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div id="carouselExampleControls" class="carousel slide w-75 my-3 mx-auto" data-bs-ride="carousel">
    <div class="carousel-inner">
        <img src="https://picsum.photos/700/500" class="d-block w-100" alt="...">
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  
  <div class="d-flex justify-content-center mt-3 my-3" style="height: 35px;">
    <form class="d-flex" role="search" action=" {% url 'reviews:search' %}">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
          name="search">
      <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
    </div>
<div class="container position-relative">
  {% for hotplace in hotplaces %}
    <div class="row g-0 mt-3 border rounded">
      <div class="col-md-8">
        <div class="card-body m-3">
          <a href="{% url 'reviews:hotdetail' hotplace.pk %}" style="text-decoration:none; color:black;">
            <h6 class="card-title fw-bold">{{ hotplace.hotplace }}</h6>
          </a>
          <p class="card-text">{{ hotplace.theme }} | {{ hotplace.location.location }} | {{ hotplace.addr }}</p>
          <!-- star -->
          <link href="/assets/css/star.css" rel="stylesheet"/>
          <form class="mb-1" name="starform" id="starform" method="post">
            <fieldset>
              <span class="text-bold">별점</span>
              <input type="radio" name="reviewStar" value="5" id="rate1">
              <label for="rate1">★</label>
              <input type="radio" name="reviewStar" value="4" id="rate2">
              <label for="rate2">★</label>
              <input type="radio" name="reviewStar" value="3" id="rate3">
              <label for="rate3">★</label>
              <input type="radio" name="reviewStar" value="2" id="rate4">
              <label for="rate4">★</label>
              <input type="radio" name="reviewStar" value="1" id="rate5">
              <label for="rate5">★</label>
            </fieldset>
          </form>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
          <a href="#" class="btn btn-info btn-sm">예약가능</a>
        </div>
      </div>
      <div class="col-md-4">
        {% for img in hotplace.image.all %}
          {% if forloop.first %}
          <a href="{% url 'reviews:hotdetail' hotplace.pk %}" style="text-decoration:none; color:black;">
            <div class="position-relative">
              <img class="w-100 rounded-end" src="{{ img.image.url }}" alt="">
              
            </div>
          </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}