{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div id="carouselExampleControls" class="carousel slide w-75 my-3 mx-auto" data-bs-ride="carousel">
    <div class="carousel-inner">
        <img src="https://picsum.photos/700/500" class="d-block w-100" alt="...">
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<div class="container position-relative">
<div class="row justify-content-center">
    <form class="d-flex" action="" method="POST">
    <div class="col-2">
        <select class="form-select">
            <option selected>Test</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
    <div class="col-6">
            <input class="form-control mx-3" type="text" placeholder="검색어를 입력하세요">
            <button class="btn btn-primary mx-3" type="submit">submit</button>
        </div>
    </form>
</div>
    {% for hotplace in hotplaces %}
    <a class="row my-3 border rounded w-75 m-auto" href="{% url 'reviews:hotdetail' hotplace.pk %}" style="text-decoration:none; color:black;">
        <div class="col-4 p-0">
            {% for img in hotplace.image.all %}
            {% if forloop.first %}
            <img class="w-100 rounded-start" src="{{ img.image.url }}" alt="">
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-8">
            <h3 class="card-title mt-3">{{ hotplace.hotplace }}</h3>
            <p >{{ hotplace.theme }}</p>
        </div>
    </a>
    {% endfor %}
</div>



{% endblock %}