{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'reviews/css/style.css' %}">{% endblock css %}
{% block content %}
{% for hotplace in hotplaces %}
<div class="row g-0 mt-3 border rounded">
  <div class="col-md-8">
    <div class="card-body m-3">
      <a href="{% url 'reviews:hotdetail' hotplace.pk %}" style="text-decoration:none; color:black;">
        <h6 class="card-title fw-bold">{{ hotplace.hotplace }}</h6>
      </a>
      <p class="card-text">{{ hotplace.theme }} | {{ hotplace.location.location }} | {{ hotplace.addr }}</p>
      <!-- star -->
      {% if hotplace.latestdate %}
      <label class="rating-label">평점: {{ hotplace.star|floatformat:2 }} 점
        <input
          class="rating"
          max="5"
          readonly
          step="0.01"
          style="--fill:gold;--value:{{ hotplace.star }}"
          type="range"
          value="{{ hotplace.star }}">
      </label>
      <p class="card-text">
        <small class="text-muted">최근 후기: {{ hotplace.latestdate|naturaltime }}</small>
        {% else %}
        <small class="text-muted">최근 후기: 아직 후기가 없어요!</small>
        {% endif %}
      </p>
      <a href="#" class="btn btn-info btn-sm">예약가능</a>

        {% if request.user.is_authenticated %}
            {% if request.user in hotplace.like_users.all %}
              <i id="like-btn" data-hotplace-id="{{ hotplace.pk }}" class="bi bi-heart-fill" style="color:red; "></i>
            {% else %}
              <i id="like-btn" data-hotplace-id="{{ hotplace.pk }}" class="bi bi-heart" style="color:red; "></i>
            {% endif %}
          <span id="like-count" >{{ hotplace.like_users.count }}</span>
          <i class="bi bi-chat"></i> {{ hotplace.reviews.count }}
        {% endif %}

    </div>
  </div>
  <div class="col-md-4">
    {% for img in hotplace.image.all %}
      {% if forloop.first %}
      <a href="{% url 'reviews:hotdetail' hotplace.pk %}" style="text-decoration:none; color:black;">
        <div class="position-relative">
          <img class="w-100 rounded-end" src="{{ img.image.url }}" alt="">
          
        </div>
      </a>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endfor %}

{% endblock content %}